.red {
    background: rgb(83, 25, 25);
    color: #fff;
}

.green {
    background: rgb(80, 165, 0);
    color: #fff;
}

.my-button {
    margin: 20px 0px;
    padding: 9px 7px;
    font-size: 20px;
    width: 100px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}